<h2>Administration</h2>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            @Html.ActionLink("Import Players", MVC.Admin.ImportPlayers())
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            @Html.ActionLink("Import World Rankings", MVC.Admin.ImportWorldRankings())
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            @Html.ActionLink("Group Players", MVC.Admin.CreateGroups())
        </div>
    </div>
</div>