<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    
    <connectionStrings>
      <add name="GolfPoolEntities" 
        connectionString="Server=dfffb933-4513-4bd3-8733-a17400feae22.sqlserver.sequelizer.com;Database=dbdfffb93345134bd38733a17400feae22;User ID=bnrjhhezidajnrnh;Password=QYWBVBPz7UWQdBJNKf8ipjorVVukpbVUpLpfPzdHXqwDCBZZFuUzQxbEKEN8hCk6;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>