body {
    font-family: 'Play', sans-serif;
}

header div {
    height: 60pt;
}

.header {
    padding: 0;
}

.logo img {
    width: 60pt;
    height: 60pt;
    padding-right: 15pt;
    padding-left: 15pt;
}

/*Navigation*/
nav {
    height: 100%;
}

.nav {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 15pt;
    padding-left: 0pt;
    position: relative;
}

.nav-row .nav-item, .nav-row .nav-item:first-child {
    margin: 0 0;
    padding: 0 0;
}

.nav-item {
    text-align: center;
    line-height: 60pt;
    position: relative;
}
    
.nav-item.selected {
    background-color: RGB(85, 204, 68);
    color: #FFF;
}

.nav-item a {
    color: #555;
    display: inline-block;
    height: 100%;
    width:100%;
    z-index: 2;
}

.nav-item-shine {
    position: absolute;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.2) 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); /* Chrome10+,Safari5.1+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B2ffffff', endColorstr='#33ffffff');
    height: 50%;
    width: 100%;
    z-index: 1;
}

.sub-menu {
    display: none;
}

.popover {
    max-width: 100%;
}
.cell {
    margin-top: 8px;
}

.header-row {
    margin-bottom: 8px;
}
.table-row {
    border-top: 1px rgba(128,128,128,0.3) solid;
    margin-bottom: 8px;
}

@-moz-keyframes showgreen {
  0% {
    background: RGBA(85, 204, 68, 0);
  }
  100% {
    background: RGBA(85, 204, 68, 0.3);
  }
}

@-webkit-keyframes showgreen {
  0% {
    background: RGBA(85, 204, 68, 0);
  }
  100% {
    background: RGBA(85, 204, 68, 0.3);
  }
}

@keyframes showgreen {
  0% {
    background: RGBA(85, 204, 68, 0);
  }
  100% {
    background: RGBA(85, 204, 68, 0.3);
  }
}

.move-up {
    -moz-animation-name: showgreen;
    -o-animation-name: showgreen;
    -webkit-animation-name: showgreen;
    animation-name: showgreen;
        -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}


@-moz-keyframes showred {
  0% {
    background: RGBA(255, 0, 0, 0);
  }
  100% {
    background: RGBA(255, 0, 0, 0.3);
  }
}
@-webkit-keyframes showred {
  0% {
    background: RGBA(255, 0, 0, 0);
  }
  100% {
    background: RGBA(255, 0, 0, 0.3);
  }
}
@keyframes showred {
  0% {
    background: RGBA(255, 0, 0, 0);
  }
  100% {
    background: RGBA(255, 0, 0, 0.3);
  }
}



.move-down {
    -moz-animation-name: showred;
    -o-animation-name: showred;
    -webkit-animation-name: showred;
    animation-name: showred;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}


@media (max-width: 767px) {
header {
    margin-bottom: 220px;
}
}