@model IEnumerable<GolfPool.Models.Team>

@{
    ViewBag.Title = "Standings";
}



<h2>Standings</h2>

<table class="table">
    <tr>
        <th>Team Name</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>Overall</th>
        <th></th>
    </tr>
    @foreach (var team in Model)
    {
        <tr>
            <td><h5>@team.TeamName</h5></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@Html.ActionLink("edit",MVC.Admin.EditTeam(team.TeamID))</td>
        </tr>
        
    }

</table>