@model IEnumerable<GolfPool.Models.Team>

@{
    ViewBag.Title = "Standings";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/knockout-2.2.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-1.0.0.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function() {

            function golferVM(id, score, fullname) {
                var self = this;
                self.GolferID = id;
                self.Score = ko.observable(score);
                self.Fullname = ko.observable(fullname);
                self.Position = "T2";
                self.showPlayerInfo = function (data, event) {
                    var playerDiv = $('<div></div>').append('<div><h4>'+self.Fullname+'</h4> </div>');
                    $(event.srcElement).popover({ placement: 'bottom', html: true, content: playerDiv.html() }).popover('show');
                };
                self.hidePlayerInfo = function(data, event) {
                    $(event.srcElement).popover('hide');
                };
            }

            function teamVM(id, teamName, context) {
                var self = this;
                self.hub = context.hub;
                self.TeamID = id;
                self.TeamName = teamName;
                self.Golfers = ko.observableArray([]);
                $.get('@Url.Action(MVC.Home.TeamGolfers())/' + id, function(golfers) {
                    //var golfers = JSON.parse(data);
                    self.Golfers(ko.utils.arrayMap(golfers, function(golfer) {
                        return new golferVM(golfer.GolferID, golfer.Score, golfer.FullName);
                    }));
                });

                self.hub.on("golferUpdated", function(updatedGolfer) {
                    var golfer = ko.utils.arrayFirst(self.Golfers(), function(value) { return value.GolferID == updatedGolfer.GolferID; });
                    if (golfer != null)
                        golfer.Score(updatedGolfer.Score);
                });

            }

            ;

            function teamListVM() {
                var self = this;
                self.hub = $.connection.leaderboardHub;
                self.teams = ko.observableArray([]);

                self.init = function() {
                    self.hub.server.getTeamList();
                };

                self.hub.client.InitTeamList = function(allTeams) {
                    var teamList = ko.utils.arrayMap(allTeams, function(team) {
                        return new teamVM(team.TeamID, team.TeamName, self);
                    });
                    self.teams(teamList);
                };
            }

            ;
            var vm = new teamListVM();
            ko.applyBindings(vm);
            $.connection.hub.logging = true;
            $.connection.hub.start(function() { vm.init(); });
        });
    </script>

} 


<h2>Standings</h2>
<div id="standings-container" style="width: 100%; height: 100%;">

    <table class="table">
        <tr>
            <th>Team Name</th>
            <th><div class="table-cell">1</div></th>
            <th><div class="table-cell">2</div></th>
            <th><div class="table-cell">3</div></th>
            <th><div class="table-cell">4</div></th>
            <th><div class="table-cell">5</div></th>
            <th><div class="table-cell">6</div></th>
            <th><div class="table-cell">7</div></th>
            <th><div class="table-cell">8</div></th>
            <th><div class="table-cell">Overall</div></th>
            <th></th>
        </tr>
        <tbody data-bind="foreach: teams">
     
            <tr>
                <td><h5 data-bind="text: TeamName"></h5></td>
                <!-- ko foreach: Golfers -->
                <td><div class="table-cell" data-bind="text: Score, event: {mouseover: showPlayerInfo, mouseout: hidePlayerInfo}"></div></td>
                <!-- /ko -->
                <td></td>
                <td><a href="#">edit</a></td>
            </tr>
        
        </tbody>

    </table>
</div>