@model IEnumerable<GolfPool.Models.Team>

@{
    ViewBag.Title = "Standings";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/knockout-2.2.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-1.0.0.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function() {

            function golferVM(id, score) {
                var self = this;
                self.GolferID = id;
                self.Score = ko.observable(score);
            }

            function teamVM(id, teamName, context) {
                var self = this;
                self.hub = context.hub;
                self.TeamID = id;
                self.TeamName = teamName;
                self.Golfers = ko.observableArray([]);
                $.get('@Url.Action(MVC.Home.TeamGolfers())/' + id, function(golfers) {
                    //var golfers = JSON.parse(data);
                    self.Golfers(ko.utils.arrayMap(golfers, function(golfer) {
                        return new golferVM(golfer.GolferID, golfer.Score);
                    }));
                });

                self.hub.on("golferUpdated", function(updatedGolfer) {
                    var golfer = ko.utils.arrayFirst(self.Golfers(), function(value) { return value.GolferID == updatedGolfer.GolferID; });
                    if (golfer != null)
                        golfer.Score(updatedGolfer.Score);
                });

            }

            ;

            function teamListVM() {
                var self = this;
                self.hub = $.connection.leaderboardHub;
                self.teams = ko.observableArray([]);

                self.init = function() {
                    self.hub.server.getTeamList();
                };

                self.hub.client.InitTeamList = function(allTeams) {
                    var teamList = ko.utils.arrayMap(allTeams, function(team) {
                        return new teamVM(team.TeamID, team.TeamName, self);
                    });
                    self.teams(teamList);
                };
            }

            ;
            var vm = new teamListVM();
            ko.applyBindings(vm);
            $.connection.hub.logging = true;
            $.connection.hub.start(function() { vm.init(); });

            $("#refresh").click(function() {
                $.post('@Url.Action(MVC.Home.SimulateUpdate())');
            });
        });
    </script>

} 


<h2>Standings</h2>

<table class="table">
    <tr>
        <th>Team Name</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>Overall</th>
        <th></th>
    </tr>
    <tbody data-bind="foreach: teams">
     
        <tr >
            <td><h5 data-bind="text: TeamName"></h5></td>
            <!-- ko foreach: Golfers -->
            <td data-bind="text: Score"></td>
            <!-- /ko -->
            <td></td>
            <td><a href="#">edit</a></td>
        </tr>
        
    </tbody>

</table>

<input type="button" id="refresh" value="Refresh"/>